.bg_img {
    background-image: ;
}

.home_box {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 50%;
    margin: 90px auto;
    /* border: 12px solid black */
}

.card_box {
/* width: 40rem; */
/* height: 40rem; */
display: flex;
justify-content: center;
align-items: center;
/* border: 7px solid black ; */
}

.Row {
    position: relative;
    top: 110px;

}





.post_button {

display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
width: 70px;

position: fixed;
bottom: 30px;
right: 30px;
background-color: #212529;;
cursor: pointer;
}

